@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
		outline: none;
	}

	*::-webkit-scrollbar {
		display: none;
	}

	body {
		max-height: -webkit-fill-available;
	}
	html {
		height: calc(100vh - 60px);
	}
}

@layer components {
	.button-primary {
		@apply rounded-lg shadow-lg text-2xl text-white px-4 py-2 bg-heart;
	}
	.button-primary:hover {
		@apply brightness-110;
	}
}

@layer utilities {
	.animation-delay-250 {
		animation-delay: 0.25s;
	}
	.animation-delay-500 {
		animation-delay: 0.5s;
	}
	.animation-delay-1000 {
		animation-delay: 1s;
	}
	.animation-delay-2000 {
		animation-delay: 2s;
	}

	.animation-delay-4000 {
		animation-delay: 4s;
	}
	.card {
		@apply bg-white rounded-md shadow-sm p-4 m-4;
	}

	.page {
	}

	.slideIn {
		animation-duration: 500ms;
		animation-delay: 400ms;
		animation-name: slideIn;
		animation-fill-mode: both;
		animation-iteration-count: 1;
	}
	@keyframes slideIn {
		from {
			opacity: 0;

			transform: translateX(var(--offset, 200px));
		}
		to {
			opacity: 1;

			transform: translateX(0px);
		}
	}
}
